<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<header>
    <div class="sidebar">
        <h1>Catering Management</h1>
        <nav>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/staff">Staff</a></li>
                <li><a href="/administration">Administration</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>